<h1> Time to kick start your online store!!! All the best!</h1>/>

Hi <%= @user.username %>

<p>
  Welcome onboard Emangu! We 're super excited to have you with us! You're all ready to take <%= @user.username %> Store's success a notch higher! Here's your store's URL and admin login just in case you forget.
</p>

<p>
  Username: <%= @user.username %>
  Email: <%= @user.email %>
  Password: **********
  Store link: <%= @url %>
</p>
