<table>
  <thead>
    <tr>
      <th>Post Title</th>
      <th>Published</th>
      <th>Created At</th>
      <th>Published At</th>
      <th>Actions </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.sorted.each do |post| %>
      <tr>
        <td><%= link_to post.title.capitalize, post %></td>
        <td><%= post.published_true? %></td>
        <td><%= post.post_created_at %></td>
        <td><%= post.post_published_at if post.published? %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>